body{
    background-color: khaki;
}
.block{
    margin: 1em;
}
.container{
    display: flex;
}
.block-input{
    border: 2px solid greenyellow;
}
.block-color{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}
.buttonColor{
    margin: 0.5em;
}